#quiz-container, #game-over-container {
    display: none;
  }
  
  #game-over-container {
    text-align: center;
  }
  
  #score-form {
    margin-top: 20px;
  }
  
  #timer-container {
    margin-top: 10px;
  }
  





































































































































